body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

.app {
    width: 400px;
    padding: 10px;
    margin: 20px auto;
    border: 1px solid black;
}

.title {
    margin-bottom:30px;
    text-align: center;
}

#totals {
    display: block;
    width: 100%;
    text-align: center;
}

.total {
    display: inline-block;
    width: 150px;
    border: 1px solid;
    background: lightgrey;
    text-align: center;
    margin: 10px;
    padding: 10px;
    

    &:hover {
        transform: scale(1.01);
    }
}

.details {
    text-align: center;
}

.month-selector {
    margin: auto;
    margin-bottom: 30px;
    text-align: center;

    .dropdown {
        padding: 10px;
    }
}