$navbar-width: 250px;

body {
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}

.main {
    
}

.grid-container {
    display: grid;
    border: 1px solid red;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid black;
}

.card {
    flex-basis: 250px;
    flex-grow: 1;
    margin: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: lightgrey; 
    height: 100px;
    border: 1px solid darkblue;
    border-radius: 4px;
    color: white;
}

.navbar {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;

    a {
        float: left;
        display: block;
        width: 25%;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 0px;
        text-decoration: none;
        font-size: 17px;

        &:hover {
            background-color: #454444;
            color: white;
        }

        &:active {
            background-color: #4CAF50;
            color: white; 
        }
    }
}

@media only screen and (min-width: 750px) {
    .main {
        margin-left: $navbar-width;
    }

    .navbar {
        left: 0;
        top: 0;
        width: $navbar-width;
        padding-top: 50px;

        a {
            width: 100%;
        }
    }
}


